<launch>

  <master auto="start"/>

  <node pkg="tf" type="static_transform_publisher" name="Zed_to_odom_broadcaster" args="0 0 0 0 0 0 odom zed_initial_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="Zed_to_camera_broadcaster" args=".4 0 .25 0 0 0 base_link camera_base_link 100" />


  <node pkg="rosserial_python" type="serial_node.py" name="serial_node_0">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="57600"/>
  </node>
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node_1">
    <param name="port" value="/dev/ttyACM1"/>
    <param name="baud" value="57600"/>
  </node>

  <node pkg="peach_bot_2dnav" type="peach_camera.py" name="peach_camera" >
    <param name="file_path" type="string" value="/media/ubuntu/361E-63D9/"/>
  </node>
  
  <node pkg="peach_bot_2dnav" type="peach_odom.py" name="peach_odom" >
  </node>

  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>

  <include file="$(find yocs_velocity_smoother)/launch/velocity_smoother.launch" >
	<arg name="robot_cmd_vel_topic" value="raw_cmd_vel" />
	<arg name="smooth_cmd_vel_topic" value="cmd_vel" />
	<arg name="speed_scale" value="1.0" />
	<arg name="rotation_scale" value="1.0" />
  </include>
</launch>
